
<% @list.items.order(created_at: :asc).each do |item| %>
  <%= render item %>
<% end %>

<div class="list-edit-bottom">
      <a href="#" class="edit-btn1">My Deals</a>
      <a href="#" class="edit-btn2">Save List</a>
</div>
