
<% @list.products.each do |product| %>
  <div class="card-edit">

    <div class="card-edit1">
      <%= image_tag product.photo %>
      <div class="card-edit-text">
        <h3><%= product.name %></h3>
        <p><%= "#{product.quantity} #{product.unit}" %></p>
      </div>
    </div>

    <div class="card-edit2">
      <div class="card-edit-btn">
        <p>-</p>
      </div>
      <div class="card-edit-number">
        <p>1</p>
      </div>
      <div class="card-edit-btn">
        <p>+</p>
      </div>
    </div>

  </div>
<% end %>

<div class="list-edit-bottom">
      <a href="#" class="edit-btn1">My Deals</a>
      <a href="#" class="edit-btn2">Save List</a>
</div>
