<div class="container-show-page">
  <div class="col-sm-12 col-md-6">
    <div class="container-show-page-title">
      <h1><%= @list.name.capitalize %></h1>
      <p><%= @list.created_at.strftime("%B %d, %Y") %></>
        <hr>
      </div>
      <% @list.items.each do |x| %>
      <div class="quantity-and-name-items-show-page">
        <p><%= image_tag x.product.photo %>
        <%= x.product.name %></p>
      </div>
      <% end %>
    </div>
  </div>


