<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>
<div class="container py-3">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1><%= @list.name %></h1>
    <p>Some awesome description of our amazing list.</p>
      <p>$$$</p>
    </div>
  </div>
</div>
