.home-btn {
  background: #FCC72C;
  font-size: 16px;
  border-radius: 4px;
  height: 38px;
  font-family: Montserrat;
}

.illustration img {
  width: 370px;
  margin-top: 30px;
}

.illustration {
  text-align: center;
}

.form-control-supremo {
  width: 375px;
  height: 45px;
  border-radius: 4px;
  outline: 0px;
  border-width: 0px;
}

.product_btn {
  background: #FCC72C;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 20px;
}

.fa-search:before {
  margin-left: 10px;
  font-size: 20px;
  color: #4A4A4A
}

.form-control:focus {
  border-color: white;
  box-shadow: none;
}

a:hover {
  color: white;
}

#search-data {
  margin-top: 40px;
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #B4B4B4;
  border-radius: 4px;
}

.container-home-page {
  display: flex;
  justify-content: center;
}

.form-home-page {
  display: flex;
  margin-top: 50px;
}

.card-product-home-page {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4A4A4A;
  max-width: 403px;
  margin-left: 2px;
}

.card-product-home-page img {
  height: 100%;
  width: 95px;
  object-fit: cover;
  margin-right: 10px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.hide {
  visibility: hidden;
}

i {
  width: 40px;
  font-size: 40px;

}
