.home-btn {
  background: #FCC72C;
  font-size: 16px;
  border-radius: 4px;
  height: 38px;
  font-family: Montserrat;
}

.form-control {
  width: 375px;
}

.product_btn {
  background: #FCC72C;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  margin-right: 10px;
}

#search-data {
  margin-top: 40px;
  display: flex;
  height: 40px;
  justify-content: space-around;
}

.container-home-page {
  display: flex;
  justify-content: center;
}

.form-home-page {
  display: flex;
}

.card-product-home-page {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  color: #4A4A4A
}

.card-product-home-page img {
  height: 100%;
  width: 95px;
  object-fit: cover;
  margin-right: 10px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.hide {
  visibility: hidden;
}
