.card-edit {
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 10px 10px;
  margin-top: 5px;
}

.card-edit-text {
  margin-top: 10px;
}

.card-edit1 h3 {
  font-family: Montserrat;
  color: #4A4A4A;
  font-size: 18px;
}

.card-edit1 {
  display: flex;
}
.card-edit1 p {
  font-family: Montserrat;
  color: #B4B4B4;
  font-size: 15px;
}

.card-edit2 {
  display: flex;
  align-items: flex-end;
}

.card-edit2 p {
  font-family: Montserrat;
}

.card-edit img {
  height: 98px;
  width: 58px;
  object-fit: cover;
  margin-right:10px;
}

.card-edit-number {
  height: 35px;
  width: 35px;
  background: white;
}

.card-edit-number p {
  text-align: center;
  color: #4A4A4A;
  margin-top: 5px;
}

.card-edit-btn {
  height: 35px;
  width: 35px;
  background: #FCC72C;
  border-radius: 4px;
}

.card-edit-btn p {
  color: white;
  text-align: center;
  margin-top: 5px;
}

.list-edit-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  height: 70px;
  position: fixed;
  bottom: 72px;
  border-top: 1px solid #F5F5F5;
  padding: 10px;
}

// .list-edit-bottom .edit-btn1 {
//   margin-top: 10px;
//   margin-left: 15px;
//   background: #FCC72C;
//   border-radius: 4px;
//   height: 60px;
//   width: 60%;
//   margin-bottom: 10px;
// }

// .list-edit-bottom .edit-btn2 {
//   margin-top: 10px;
//   margin-right: 15px;
//   background: #FCC72C;
//   border-radius: 4px;
//   height: 60px;
//   width: 30%;
//   margin-bottom: 10px;
// }


.edit-btn1 {
  font-family: Montserrat;
  padding: 15px 45px;
  background: #FCC72C;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
