.purchase-supermarket {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 10px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.purchase-supermarket h3 {
  font-family: Montserrat;
  color: #4A4A4A;
  font-size: 24px;
  margin-top: 10px;
}

.purchase-supermarket p {
  font-family: Montserrat;
  color: #B4B4B4;
  font-size: 15px;
  margin-top: 10px;
}

.purchase-card {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 10px 10px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchase-card h3 {
  font-family: Montserrat;
  color: #4A4A4A;
  font-size: 18px;
  margin-top: 10px;
}

.fa-check:before {
  color: #FCC72C;
  margin-right: 10px;
  margin-left: 20px;
}


