.container-show-page {
  height: 900px;
  width: 400px;
}

// .quantity-and-name-items-show-page {
//   display:flex;
//   align-items: center;
//   margin-left: 16px;
// }

.container-show-page-title {
  margin-top: 32px;
  margin-left: 8px;
}

.quantity-and-name-items-show-page {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.quantity-and-name-items-show-page img {
 height: 100%;
  width: 100px;
  object-fit: cover;
}


// .card-edit {
//   display: flex;
//   justify-content: space-between;
//   background: white;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
//   padding: 10px 10px 10px 10px;
//   margin-top: 5px;
// }

// .card-edit img {
//   height: 98px;
//   width: 58px;
//   object-fit: cover;
//   margin-right:10px;
// }

// .card-edit-text {
//   margin-top: 10px;
// }
