// drag

.list {
  padding:.5em;
}

.project {
  background: silver;
  // text-align: center;
  // font: 20px/120px sans-serif;
  position:relative;
  left:0px;
  width:100%;
  margin:1em 0;
}

@keyframes dismiss {
  50% { left: -100vw; }
  100% { left: -100vw; height:0; margin:0 0 -1em; }
  /* height set explicitly via JS before .dismiss added  */
}

.dismiss {
  animation: dismiss .25s forwards;
}

.remove {
  display:none;
}

//-------

.container-show-page-title {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 10px 10px;
}

.container-show-page-title h3 {
  font-family: Montserrat;
  color: #4A4A4A;
  font-size: 24px;
  margin-top: 10px;
}

.container-show-page-title p {
  font-family: Montserrat;
  color: #B4B4B4;
  font-size: 15px;
  margin-top: 10px;
}

.card-product-infos-show-page {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 10px 10px;
  margin-top: 5px;
  display: flex;
}

.quantity-and-name-items-show-page {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.quantity-and-name-items-show-page img {
 height: 100%;
  width: 100px;
  object-fit: cover;
}

.card-product-infos-show-page .quantity {
  color: #B4B4B4;
  font-size: 18px;
  font-family: Montserrat;
}

.card-product-infos-show-page .name {
  color: #4A4A4A;
  font-size: 18px;
  font-family: Montserrat;
  margin-left: 10px;
}

