<div class="navbar-aicery">
  <%= link_to url_for(:back) do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <p>My Cart</p>
  <%= link_to list_path(current_user.lists.last) do %>
    <i class="fas fa-shopping-cart"></i>
    <p class="notification"><%= current_user.lists.last.items.sum(:quantity) if current_user.lists.last.items.count > 0 %></p>
  <% end %>
</div>

<div class="purchase-supermarket">
  <h3>Esselunga</h3>
  <p>Viale Umbria 28, Milano</p>
</div>

<div class="purchase-card">
  <h3>Waitrose fresh pasta</h3>
  <%= link_to "Mark as Complete", item_purchase_path(current_user.lists.last.items), method: :patch %>
</div>
