<div class="navbar-bottom">
  <div class="navbar-btn">
    <div class="navbar-btn1">
      <a href="/"><i class="fas fa-home"></i></a>
      <p>Home</p>
    </div>
  </div>
  <div class="navbar-btn">
    <a href="/lists"><i class="fas fa-list-ul"></i></a>
    <p>My Lists</p>
  </div>
  <div class="navbar-btn">
    <div class="navbar-btn3">
      <a href="/pages/profile"><i class="fas fa-user"></i></a>
      <p>Account</p>
    </div>
  </div>
</div>
