<div class="navbar-aicery">
  <%= link_to url_for(:back) do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <p>My Cart</p>
  <%= link_to edit_list_path(current_user.lists.last) do %>
    <i class="fas fa-shopping-cart"></i>
    <p><%= current_user.lists.last.items.count if current_user.lists.last.items.count > 0 %></p>
 <% end %>
</div>


