<div class="info-window-username">
  <% if %>
    <% user.first_name.nil?  %>
    <h3>You are here</h3>
  <% else  %>
    <h3> <%= user.first_name %></h3>
  <% end %>
</div>

<div class="info-window-email">
  <p><%= user.email %></p>
</div>
