.navbar-aicery .notification {
  background: #FCC72C;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  padding-top: 2px;
  position: relative;
  bottom: 15px;
  right: 20px;
}

.registration .btn {
  font-family: Montserrat;
  background: #FCC72C;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  width: 210px;
  margin-left: 80px;
  margin-bottom: 20px;
}

h2 {
  margin: 0 auto;
}

.form-actions-login {
  margin-top: 60px;
}

.bottoni {
  text-align: center;
}

.form-actions-login .bottoni .btn {
  font-family: Montserrat;
  background: #FCC72C;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  width: 210px;
  margin-left: 12px;
  margin-bottom: 20px;
}

.bottoni a {
  font-family: Montserrat;
  font-size: 16px;
  padding: 7px 57px;
  background: white;
  color: #4A4A4A;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

h2 {
  margin: 0 auto;
}

.edit {
  width: 270px;
  margin: 30px auto;
}

.edit .btn {
  font-family: Montserrat;
  padding: 7px 105px;
  background: #FCC72C;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}
.form-input-cancel a {
  font-family: Montserrat;
  font-size: 16px;
  padding: 7px 57px;
  background: white;
  color: #4A4A4A;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-left: 54px;
}

.tutto {
  margin-top: 60px;
}

