.form-inputs-registration {
  padding: 30px;
}

.form-actions-registration .btn {
  font-family: Montserrat;
  padding: 7px 143px;
  background: #FCC72C;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  margin-left: 31px;
  margin-bottom: 12px;
}

.tutto .form-inputs-login {
  padding: 30px;
}

h2 {
  margin: 0 auto;
}

.form-actions-login {
  margin-top: 60px;
}

.bottoni {
  text-align: center;
}

.form-actions-login .bottoni .btn {
  font-family: Montserrat;
  background: #FCC72C;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  width: 345px;
  margin-left: 12px;
  margin-bottom: 20px;
}

.bottoni a {
  font-family: Montserrat;
  font-size: 16px;
  padding: 6px 140px;
  background: white;
  color: #4A4A4A;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

h2 {
  margin: 0 auto;
}

.form-inputs-edit {
  margin-top: 60px;
  margin-bottom: 5px;
  padding: 30px;
}

.form-actions-edit .btn {
  font-family: Montserrat;
  padding: 7px 143px;
  background: #FCC72C;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  margin-left: 33px;
  margin-bottom: 12px;
}

.form-input-cancel a {
  font-family: Montserrat;
  font-size: 16px;
  padding: 7px 95px;
  background: white;
  color: #4A4A4A;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-left: 33px;
}

.tutto {
  margin-top: 60px;
}

