.navbar-aicery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00918E;
  height: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.fa-arrow-left:before {
  color: white;
  font-size: 25px;
  margin-left: 10px;
}

.fa-shopping-cart:before {
  color: white;
  font-size: 25px;
  margin-right: 10px;
}

.navbar-aicery p {
  display: inline-block;
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0;
}
